body {
	font-family: Tahoma, Helvetica, Arial;
	font-size: 14px;
}

input,
select,
submit,
button {
	font-family: Tahoma;
	Helvetica,
	Arial;
	font-size: 13px;
}

input {
	font-weight: bold;
}

input#input-heading {
	text-align: center;
}

canvas#plan {
	border: 1px solid #030;
	background: #ddf0dd;
}

canvas.instrumentX {
	border: 1px solid #000;
	background: #111;
}

.sixpack {
	padding: 10px;
	margin: 0 auto;
	display: inline-block;
	vertical-align: top;
}
.nav {
	padding: 10px;
	margin: 0 auto;
	display: inline-block;
	vertical-align: top;
}
.row {
	width: 100%;
}
.col1,.col2,.col3 {
	display: inline-block;
	vertical-align: top;
	padding: 5px;
}

div#form {
	clear: both;
	width: 480px;
	text-align: center;
	border: 1px solid #363;
	overflow:hidden;
}

div.section {
	background: #eee;
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 5px;
	margin: 6px 5px;
	width: 134px;
	float: left;
}

div.section.left {
	margin-left: 11px;
}

div.section.right {
	margin-right: 11px;
}
